img {
  width: 100px;
  border-radius: 10px;
}

.form-margin {
  margin-bottom: 12px;
}

.cart-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  padding-right: 100px;
}

.cart-item-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  margin-right: 20px;
}

.number-input {
  width: 80px;
  text-align: center;
}

.cart-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 64px;
}

.cart-product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-panel {
  margin-left: 50px;
  margin-right: 50px;
}

.empty-cart-message {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}
a {
  padding-left: 5px;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 12px;
}

.message {
  display: flex;
  font-size: 15px;
}
.alert-error {
  display: flex;
  font-size: 15px;
  color: #ff0000;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #0d6efd;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:disabled {
  background-color: #b8b4ff;
}

.amount {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: 
  space-between;
}

.btn-delete{
  width: 100%;
  background-color: #0d6efd;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
