<div class="product-container">
    <a routerLink="product/{{ productInfo.id }}"><img class="product-image" src="{{ productInfo.url }}" /></a>
    <div class="product-info">
        <b>{{ productInfo.name }}</b>
        <b>${{ productInfo.price }}</b>
        <form (ngSubmit)="addProduct(productInfo)">
            <select (ngModelChange)="selectedQuantity($event)" [(ngModel)]="selected" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let value of productQuantity" value="{{ value }}">
                {{ value }}
                </option>
            </select>
            <input type="submit" value="Add to Cart"/>
        </form>
    </div>
    
</div>
